<form class="form-horizontal">
  <fieldset class="registration-container">
    <div id="legend">
      <legend class="white">Register</legend>
    </div>
    <div class="control-group">
      <label class="control-label" for="username">Username</label>
      <div class="controls">
        <input type="text" id="username" name="username" placeholder="" class="input-xlarge"
               ng-model="addUser.username">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="email">E-mail</label>
      <div class="controls">
        <input type="email" id="email" name="email" placeholder="" class="input-xlarge" ng-model="addUser.email">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input type="password" id="password" name="password" placeholder="" class="input-xlarge"
               ng-model="addUser.password" value="" minlength="6">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password_confirm">Confirm password</label>
      <div class="controls">
        <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge"
               ng-model="addUser.repPassword" minlength="6">
      </div>
    </div>
    <p class="help-block white">Password should be at least 6 characters</p>
    <h2 ng-show="$ctrl.error">{{$ctrl.error}}</h2>
    <div class="control-group">
      <div class="controls">
        <button class="btn btn-success" ng-click="$ctrl.saveUser(addUser)">Register</button>
      </div>
    </div>
    <a class="cursor" ng-click="$ctrl.redirect()">Already have an account? Login</a>
  </fieldset>
</form>
