<navbar></navbar>
<h1>Hearthstone decks</h1>
<section>
  <div class="container">
    <h2>Choose tab</h2>
    <ul class="nav nav-pills">
      <li class="active"><a ng-click="$ctrl.deleteMessage()" data-toggle="pill" href="#view">Decks</a></li>
      <li><a ng-click="$ctrl.deleteMessage()" data-toggle="pill" href="#add">Add new deck</a></li>
      <li><a ng-click="$ctrl.deleteMessage() " data-toggle="pill" href="#edit">Edit deck</a></li>
      <li><a ng-click="$ctrl.deleteMessage()" data-toggle="pill" href="#delete">Delete deck</a></li>
    </ul>

    <div class="tab-content">
      <div id="view" class="tab-pane fade in active">
        <form name="findForm">
          <select
            name="findClassInput"
            class="sm form-control"
            ng-options="class.id as class.name for class in $ctrl.classes"
            ng-model="$ctrl.find.classid" ng-change="$ctrl.findDeck($ctrl.find)" required>
            <option value="">All decks</option>
          </select>
        </form>
        <h3 ng-show="$ctrl.message">{{$ctrl.message}}</h3>
        <dir-pagination-controls></dir-pagination-controls>
        <div class="decks" dir-paginate="deck in $ctrl.decks | orderBy:'id' | itemsPerPage: 5 ">
          <div class="decks">
            <h3>{{deck.name}} for {{deck.class}} </h3>
            <img ng-src="{{deck.classimg}}" alt="">
            <a ng-show="deck.url.length > 0" ng-href="{{deck.url}}">Deck url</a></div>
        </div>
        <dir-pagination-controls></dir-pagination-controls>
      </div>

      <div id="add" class="tab-pane fade">
        <h3 ng-show="$ctrl.message">{{$ctrl.message}}</h3>
        <h1>Add new deck</h1>
        <div class="form-group col-sm-6">
          <form name="addForm">
            <select
              name="addClassInput"
              class="sm form-control"
              ng-options="class.id as class.name for class in $ctrl.classes"
              ng-model="$ctrl.add.classid" required>
              <option value="">Select class</option>
            </select>
            <p ng-hide="addForm.addClassInput.$valid">Class is required.</p>
            <label>Deck name:</label>
            <input name="addNameInput" class="form-control" type="text" ng-model="$ctrl.add.name" required>
            <p ng-hide="addForm.addNameInput.$valid">Deck name is required.</p>
            <label>Deck url:</label>
            <input name="addUrlInput" class="form-control" type="text" ng-model="$ctrl.add.url">
            <input class="btn btn-default" ng-disabled="!addForm.addClassInput.$valid && !addForm.addImgInput.$valid"
                   type="submit"
                   ng-click="$ctrl.saveDeck($ctrl.add)" value="Add"/>
          </form>
        </div>
      </div>

      <div id="edit" class="tab-pane fade">
        <h3 ng-show="$ctrl.message">{{$ctrl.message}}</h3>
        <h1>Edit deck</h1>
        <div class="form-group col-sm-6">
          <form name="editForm">
            <select
              name="editClassInput"
              class="sm form-control"
              ng-options="class.id as class.name for class in $ctrl.classes"
              ng-model="$ctrl.edit.classid"
              ng-change="$ctrl.findDeck({classid: $ctrl.edit.classid})"
              required>
              <option value="">Select class</option>
            </select>
            <p ng-hide="editForm.editClassInput.$valid">Class is required.</p>
            <select
              name="editDeckInput"
              class="sm form-control"
              ng-options="deck.id as deck.name for deck in $ctrl.decks"
              ng-model="$ctrl.edit.id"
              ng-disabled="!editForm.editClassInput.$valid"
              required>
              <option value="">Select deck</option>
            </select>
            <p ng-hide="editForm.editDeckInput.$valid">Deck is required.</p>
            <label>Deck name:</label>
            <input name="editNameInput" class="form-control" type="text" ng-model="$ctrl.edit.name" required>
            <p ng-hide="editForm.editNameInput.$valid">Deck name is required.</p>
            <label>Deck url:</label>
            <input name="editUrlInput" class="form-control" type="text" ng-model="$ctrl.edit.url">
            <input class="btn btn-default"
                   ng-disabled="!editForm.editClassInput.$valid && !editForm.editNameInput.$valid && !editForm.editDeckInput.$valid"
                   type="submit"
                   ng-click="$ctrl.editDeck($ctrl.edit)" value="Edit"/>
          </form>
        </div>
      </div>

      <div id="delete" class="tab-pane fade">
        <h3 ng-show="$ctrl.message">{{$ctrl.message}}</h3>
        <h1>Delete class</h1>
        <div class="form-group col-sm-6">
          <form name="deleteForm">
            <select
              name="deleteDeckInput"
              class="sm form-control"
              ng-options="deck.id as deck.name for deck in $ctrl.decks"
              ng-model="$ctrl.delete.id" required>
              <option value="">Select deck</option>
            </select>
            <p ng-hide="deleteForm.deleteDeckInput.$valid">Deck is required.</p>
            <input class="btn btn-default" ng-disabled="!deleteForm.deleteDeckInput.$valid" type="submit"
                   ng-click="$ctrl.deleteDeck($ctrl.delete)"
                   value="Delete"/>
          </form>
          <div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
